*{
  box-sizing:border-box;
  margin:0;
  padding:0;

}
.content{
  width:95vw;
  margin:0 auto 0 auto;
}
.main{

  display:flex;
  flex-direction: column;
}
.header{
  display:flex;
  flex:1;
  height:5vh;
  background-color:khaki;
  flex-direction:row;
}
.cont{
  display:flex;
  flex:1;
}
.eml{
  display:flex;
  flex:5;
}
.link{
  display:flex;
  flex:1;
}
.nav{
  display:flex;
  flex:1;
  flex-direction:row;
  padding:8px;


}
.logo{
  display:flex;
  width:10vw;
  background-image:url("/home/pif/Desktop/coaching imges/logo.png");
  background-size: cover;
  height:20vh;
  border-radius: 85px;
  border:1px solid;



}
.name{

width:50vw;
margin-left:100px;
margin-top:30px;



}
.l1{
  border-radius:35px;
  border:1px solid;
  padding:10px;
  margin-left:4px;

}
.menu{



  width:100%;


}
.article{
  display:flex;
  flex:1;

  width:100%;
  height:70vh;

}
.img1{
width:100%;
height:70vh;


}

.cont1{
  display:flex;
  flex-direction:row;
  flex:1;

}
.section{
  display:flex;
  flex:1;
  margin-top:-80px;
  padding:100px;
margin-left:-600px;
height:90vh;
border-radius: 30%;
}
input{
  padding:6px;
  border-radius:5px;
  background-color:lightgrey;
    width:100%;

}
textarea{
  padding:6px;
  border-radius:5px;
  background-color:lightgrey;
    width:100%;


}
label{
  font-size:20px;

}
#std{
  padding:6px;
  border-radius:5px;
  background-color:lightgrey;
  width:100%;
}
form{
  border:2px groove;
width:25vw;
border-radius:6px;
}
.aside{
  display:flex;
  flex:1;
  background-color:yellowgreen;
  padding:180px;
  width:95%;
}
.article1{
  display:flex;


  height:60vh;
  flex-direction:row;
  padding:4px;



}
.footer{
  display:flex;
  flex:1;
  background-color:khaki;
  padding:20px;
}


a{
  text-decoration: none;
    color:black;
}
.d1{
  width:50vw;
  height:70vh;
margin-left:3px;
}
.i1{
  width:20vw;
  height:26vh;
  border:2px groove;;
  border-radius:150px;

}
.i2{
  width:20vw;
  height:26vh;
  border:2px groove;;
  border-radius:160px;


}
.i3{
  width:20vw;
  height:26vh;
  border:2px groove;
  border-radius:160px;

}
.i4{
  width:20vw;
  height:26vh;
  border:2px groove;;
  border-radius:160px;

}
p{
  line-height: 1.2em;
  padding:1.2em;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;


}
.dropdown-content a {
  color: black;
  padding: 12px 16px;

  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.class:hover .dropdown-content {display: block;}

.class:hover .dropdown-content{background-color:khaki;}
.dropdown {
  position: relative;
  display: inline-block;
}

.ll{
  width:30vw;
  height:30vh;

  margin-left:20px;
}
ul{
  margin:0;
  padding: 3vh 0;
  background-color: #BDB76B;
  padding: 1vh 0;
  display: flex;
  box-shadow: 0 2vh 3vh rgba(0, 0, 0, 0.3);
}
ul li{
  list-style: none;
  text-align: center;
  display: block;
  border-right:.1vh solid rgba(0, 0, 0, 0.3);
}
ul li:last-child{
  border-right: none;
}
ul li a{
  text-decoration: none;
  padding: 0 4vw;
  display: block;

}
ul li a .icon{
  width: 4vw;
  height: 5vh;
  text-align: center;
  overflow: hidden;
  margin: 0 auto 1vh;


}
ul li a .icon .fa{
  width:100%;
  height:100%;
  line-height: 5vh;
  font-size: 2vw;
  transition: 0.6s;
  color: #fff;
}
ul li a .icon .fa:last-child
{
  color:#e91e63;
}
ul li a:hover .icon .fa{
transform: translateY(-100%);
}
ul li a:hover .class{
  color:#e91e63;
}
