html{
height:100%;
width:100%;
}

*{
margin:0px;
padding:0px;
}
body{
background-color:white;
font-style:arial;
}
h1{ 
color:green;
font: normal 175%  'century gothic',arial,sans-serif;
margin:0 0 15px 0;
padding:15px 0 5px 0;
font-style:arial;

}
p{
padding:0 0 20px 0;
line-height:1.7em;
margin-left:-2px;

}
.main{
width:1000px;
height:800px;
margin-left:180px;

}


.menubar{
width:100%;
background-color:black;
color:white;
}

ul{
display:block;
padding:0px;
list-style:none;
}

ul li{
display:inline-block;
padding: 20px 30px;
}

ul li:hover{
display:inline-block;
padding: 20px 30px;
background-color:green;
}
.active{
background-color:green;

}
ol li{
margin-left:20px;

}

