<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      .b1{
        width:40px;
        height:20px;
        background-color:red;
        margin-left:1240px;

      }



      .b1:hover{
        width:100px;
        height:20px;
        background-color:yellow;
        margin-left:1200px;
        transition:2s;
      }

      }
      </style>
  </head>
  <body>
    <div class="a1">
    <div class="b1">1</div><br>
    <div  class="b1">1</div><br>
    <div  class="b1">1</div>


    </div>


  </body>
</html>
