<html>
<head>
  <style>
  *{
margin:0;
padding:0;

  }
  .img1{
    padding:8px;
    margin-left:20px;
    border-radius: 65px;
  }
  .header{
background-color:pink;
width:100%;
height:20%;

  }
  h1{

font-size: 500%;
  margin-left:200px;
  margin-top:-90px;
  }
  nav{
background-color:grey ;
width:100%;
height:20%;


  }

  </style>

</head>
<body>
  <div>
    <div class="header">
      <header>
      <img class="img1" src="/home/pif/Desktop/images/logo.jpg"width="10%" height="70%">
    <i>  <h1>Fashion Street</h1></i>
    </header>
    </div>

    <div class="Navigation">
      <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Details</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Purches</a></li>
            <input type="text" name="search" placeholder="search">
            <input type="submit" name="search" value="search">

        </ul>
      </nav>
    </div>


















</div>
</body>
</html>
