<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/home/pif/Desktop/HTML5/layout/css/house.css">
      <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="main">

      <div class="header">
        <header>
          <h3>welcome to Estate Theme</h3>
          <div style="margin-left:900px;margin-top:-40px">

    <i class="fa fa-youtube" aria-hidden="true"></i> &nbsp;
    <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;
    <i class="fa fa-pinterest-p" aria-hidden="true"></i>&nbsp;
    <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </div>
</header>
</div>


<div class="navigation">
  <nav>
    <img src="/home/pif/Desktop/images/images (4).jpeg"width="15%" height="10%">
    <ul>

      <li>HOME</li>&nbsp;&nbsp;
      <li>NEWS</li>&nbsp;&nbsp;
      <li>PROPERTIES</li>&nbsp;&nbsp;
      <li>AGENTS</li>&nbsp;&nbsp;
      <li>ABOUT</li>&nbsp;&nbsp;
      <li>FAQ</li>&nbsp;&nbsp;
    </ul>

<i style="margin-left:800px;font-size:180%;margin-top:-5000px;"class="fa fa-phone"arian-hidden="true"></i>
<h4>CALL US TODAY</h4>
<h4>808-000-919</h4>
<input type="submit" name="contact" value="contact">


  </nav>

</div>
























    </div>

  </body>
</html>
