<html>
<head>
  <link rel="stylesheet" href= "css/lay.css">
</head>
<body>

<div class="main">

<div class="header" >
<h3> </h3>

</div>
<div class="article">

<div class="section1">
<section>


</section>

</div>
<div class="aside1">
</div>


<div class="article">

  <section class="s1">

  </section>

  <section class="s2">

  </section>


  <section  class="s3">

  </section>


  <section class="s4">

  </section>


  <section class="s5">

  </section>


  <section class="s6">

  </section>

</div>
</div>

<div class="sct">
<section>
</section>
</div>


<div class="sct1">

  <section>
  </section>
</div>


<div class="article1">

  <article>
  </article>
</div>

<div class="sct3">
  <section>
  </section>

</div>


<div class="sct4">
  <section>
  </section>

</div>


<div class="article2">
  <article>
  </article1>

</div>



<div class="article3">
  <article>
  </article1>

</div>


<div class="article4">
  <article>
  </article1>

</div>



<div class="footer">
  <footer>
  </footer>

</div>


</div>

</body>

</html>
