<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/nav1.css">
    <title></title>
  </head>
  <body>
    <div>
      <div class="header">
        <header>
       <h1>Website</h1>
        </header>
      </div>

      <div class="nav">
<nav>   <ul>

  <li><a href="#"></a>Home</li>
  <li><a href="#"></a>More</li>
<li><a href="#"></a>details</li>
<li><a href="#"></a>Dashboard</li>

</ul></nav>

      </div>
      <div class="article1">
        <article>
          <img src="">
        </article>
      </div>
      <div class="section1">
        <section>
          <h2>xjsgxyuhsg</h2>
        </section>
      </div>

      <div class="aside">
        <aside>
            <img src="">
        </aside>
      </div>

      <div class="footer">
        <footer>Copyright &#169 pratham infotech</footer>
      </div>


      </div>

  </body>
</html>
