<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="/home/pif/Desktop/HTML5/layout/css/web.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
<div class="main">

<div class="header">

<h4>WELCOME TO REAL ESTATE WEBSITE</h4>
<div style="margin-left:1000px;margin-top:-10px;">

<a href="https://www.google.com/search?q=youtube&oq=youtube&aqs=chrome..69i57j69i60l4j0.3062j0j7&sourceid=chrome&ie=UTF-8"><i style="color:black"class="fa fa-youtube" aria-hidden="true";></i></a>&nbsp;&nbsp;
<a href="https://www.instagram.com/accounts/login/"><i style=" color:black" class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp;&nbsp;

<i class="fa fa-pinterest-p" aria-hidden="true"></i>&nbsp;&nbsp;
<a href="https://twitter.com/"><i style="color:black"class="fa fa-twitter" aria-hidden="true"></i ></a>&nbsp;&nbsp;
<a href="https://en-gb.facebook.com/login/"><i style="color:black"class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
</div>





</div>


<div class="navigation">

<img style="margin-left:10px;"src="/home/pif/Desktop/images/images (4).jpeg" height="120px" width="120px">

<ul class="u1"style="margin-left:150px;margin-top:-80px;">

<li><a href="#">HOME</a></li>&nbsp;
<li><a href="#">NEWS</a></li>&nbsp;&nbsp;
<li><a href="#">PROPERTIES</a></li>&nbsp;&nbsp;
<li><a href="#">AGENTS</a></li>&nbsp;&nbsp;
<li><a href="#">ABOUT</a></li>&nbsp;&nbsp;
<li><a href="#">FAQ</a></li>


</ul>

<div style="margin-left:900px;margin-top:-20px;">
<i class="fa fa-phone" aria-hidden="true"></i>
<h3 style="margin-left:30px;margin-top:-20px">CALL US TODAY</h3>
<h3 style="margin-left:35px">808-000-919</h3>
</div>
<input style="margin-left:1050px;margin-top:-30px;width:8%;padding:5px;border-radius:9px;background-color:#3895D3;font-size:20px;" type="submit" name="contact" value="contact">
</div>


<div class="section">


<ul1 class="u2">
<li1><a href="#">HOMEPAGE</a></li1> &rarr;
<li1><a href="#">PROPERTY SEARCH</a></li1>&rarr;
<li1><a href="#">NEW YORK</a></li1>&rarr;
<li1><a href="#">FOR SAFE</a></li1>&rarr;
<li1><a href="#">WESTMINSTER BEAUTY</a></li1>
</ul1>

<div class="wb" style="margin-top:340px;margin-left:60px;">
<input style="background-color:blue;color:white;padding:2px;" type="submit" value="FOR SALE" name="FOR SALE">
<h2 style="color:white;">Westminster Beauty</h2>
<p style="color:white;">89,pentstreet Avenue,New York City</p>
</div>
<div style="margin-left:1000px;margin-top:-30px;">
<h3 >Price:<span style="color:white">$2.200.000</span</h3></div>

</div>





<div class="article">

<div class="para" style="width:30%;margin-left:60px;margin-top:10px;">

<h2> Property details</h2><br>
<p align="justify">Real estate is "property consisting of land and the buildings on it, along with its natural resources such as crops, minerals or water; immovable property of this nature; an interest vested in this (also) an item of real property, (more generally) buildings or housing in general. Also: the business of real estate; the profession of buying, selling, or renting land, buildings, or housing." It is a legal term used in jurisdictions whose legal system is derived from English common law, such as India, England, Wales, Northern Ireland, United States, Canada, Pakistan, Australia, and New Zealand.</p>
</div>

<div style="margin-top:-150px;margin-left:550px;" class="s1">
<i style="font-size:40px;color:grey;" class="fa fa-expand" aria-hidden="true"></i>
<h3>1,586</h3>
<p>Area sq-ft</p>
</div>



<div style= "margin-top:-133px;margin-left:750px;" class="s1">
<i  style="font-size:40px;color:grey;" class="fa fa-bed" aria-hidden="true"></i>
<h3>3</h3>
<p>Bedrooms</p>
</div>




<div  style= "margin-top:-135px;margin-left:950px;" class="s1">
<i style="font-size:40px;color:grey;" class="fa fa-bath" aria-hidden="true"></i>
<h3>2</h3>
<p>Bathrooms</p>
</div>

</div>


<div class="menu">
<div class="m1">
<i class="fa fa-search" aria-hidden="true">&nbsp;<span>Property ID</span></i>
<p>123123534</p>
</div>

<div class="m1">
<i class="fa fa-flag-o" aria-hidden="true">&nbsp;<span>Property Type</span></i>
<p>House</p>
</div>


<div class="m1">
<i class="fa fa-map-marker" aria-hidden="true">&nbsp;<span>Property Size</span></i>
<p>1,586 sqft</p>
</div>


<div class="m1">
<i class="fa fa-pencil" aria-hidden="true">&nbsp;<span>Bullet in</span></i>
<p>2009-2010</p>
</div>

<div class="m1">
<i class="fa fa-search-plus" aria-hidden="true">&nbsp;<span>Property Status</span></i>
<p>for sale</p>
</div>

<div class="m1">
<i class="fa fa-get-pocket" aria-hidden="true">&nbsp;<span>Prize</span></i>
<p>$ 2.200.000</p>
</div>


</div>
<div class="section1">



<div class="si1">


<img src="/home/pif/Desktop/images/img1.jpeg"width="200px" height="150px">

</div>


<div class="si1">


<img src="/home/pif/Desktop/images/img2.jpeg"width="200px" height="150px">

</div>



<div class="si1">

<img src="/home/pif/Desktop/images/img8.jpeg"width="200px" height="150px">

</div>


<div class="si1">

<img src="/home/pif/Desktop/images/img4.jpeg"width="200px" height="150px">
</div>



<div class="si2">

<img src="/home/pif/Desktop/images/img5.jpeg"width="200px" height="150px">
</div>



<div class="si2">

<img src="/home/pif/Desktop/images/img6.jpeg"width="200px" height="150px">
</div>


<div class="si2">
<img src="/home/pif/Desktop/images/img7.jpeg"width="200px" height="150px">

</div>



<div class="si2">

<img src="/home/pif/Desktop/images/img (9).jpeg"width="200px" height="150px">

</div>



</div>




<div class="article1">
<h3 style="margin-left:60px;">Additional features</h3>

<ul2>


<li2><i style="color:blue;" class="fa fa-check" aria-hidden="true"></i>Air conditioning</li2>


<li2><i style="color:blue;"class="fa fa-check" aria-hidden="true"></i>Swimming Pool</li2>


<li2><i style="color:blue;"class="fa fa-check" aria-hidden="true"></i>TV cabel</li2>

<li2><i style="color:blue;" class="fa fa-check" aria-hidden="true"></i>Eco Energy</li2>


<li2><i style="color:blue;" class="fa fa-check" aria-hidden="true"></i>Refrigerator</li2>


<li2><i style="color:blue;"class="fa fa-check" aria-hidden="true"></i>Window Covering</li2><br>


<li2><i style="color:blue;" class="fa fa-check" aria-hidden="true"></i>2 Garages</li2>


<li2><i style="color:blue;margin-left:40px;"class="fa fa-check" aria-hidden="true"></i>Lawns</li2>


<li2><i style="color:blue;margin-left:60px;"class="fa fa-check" aria-hidden="true"></i>Dryner</li2>


<li2><i style="color:blue;margin-left:20px;"class="fa fa-check" aria-hidden="true"></i>Gym</li2>


<li2><i style="color:blue;margin-left:40px;" class="fa fa-check" aria-hidden="true"></i>Parking Space</li2>


<li2><i style="color:blue;margin-left:-7px;"class="fa fa-check" aria-hidden="true"></i>WiFi</li2><br>


<li2><i style="color:blue;"class="fa fa-check" aria-hidden="true"></i>Sauna</li2>


<li2><i style="color:blue;margin-left:65px;"class="fa fa-check" aria-hidden="true"></i>Laundary</li2>


<li2><i  style="color:blue;margin-left:40px;"class="fa fa-check" aria-hidden="true"></i>Microwave</li2>




<li2><i style="color:blue;"class="fa fa-check" aria-hidden="true"></i>Barbeque</li2>


<li2><i style="color:blue;"class="fa fa-check" aria-hidden="true"></i>Outdoor Shower</li2>


<li2><i style="color:blue;margin-left:-15px;"class="fa fa-check" aria-hidden="true"></i>Washer</li2>



</ul2>
</div>



<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15080.318062979131!2d73.01138871118162!3d19.104167292130928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c0e12b75d811%3A0x1080c47aef80251e!2sSector+2%2C+Kopar+Khairane%2C+Navi+Mumbai%2C+Maharashtra+400710!5e0!3m2!1sen!2sin!4v1558989926271!5m2!1sen!2sin"width="1200px"  height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  <div class="aside">
<img style="margin:2px 0 0 2px;"src="/home/pif/Desktop/images/illuminated-blue-shingled-house-GettyImages-565978271-1200w-628h.jpg "width="120px" height="150px">

</div>
<div style="margin-left:560px;margin-top:-120px"><h3>Westminster Beauty</h3><br><p>89,pentstreet Avenue,new york city</p><br><h3>Price:$2,200,000</h3></div>
</div>




<div class="menu2" >

<div class="i1">

<i style="margin-top:30px;"class="fa fa-print" aria-hidden="true">&nbsp;<span>Print this Page</span></i>
</div>


<div class="i1">

<i style="margin-top:30px;"class="fa fa-file-text-o" aria-hidden="true">&nbsp;<span>Download PDF</span></i>
</div>


<div class="i1">
<i style="margin-top:30px;" class="fa fa-envelope-o" aria-hidden="true">&nbsp;<span>Send in Email</span></i>
</div>



<div  class="i1">
<div style="margin-top:30px;">
<i  class="fa fa-facebook" aria-hidden="true"></i>&nbsp;
<i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;
<i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;
<i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp;
<i class="fa fa-whatsapp" aria-hidden="true"></i>
</div>
</div>
</div>




<div class="sec">
<div style="width:600px;height:700px;background-color:lightgrey;"class="hh1">
<h3 style="margin-left:150px">About us</h3>
<div style="background-color:white;width:500px;height:250px;margin-left:30px;margin-top:90px;">
  <div style="margin-left:100px" >
     <div  class="img11">

  </div>
      <div style="margin-top:-110px;margin-left:100px;">
  <h3 style="color:#3895D3;">Melisa Doe</h3><br>

  <p>Real estate agent</p><br>


  <p><i class="fa fa-phone" aria-hidden="true"></i>0(0)99766899</p><br>

<p><i class="fa fa-mobile" aria-hidden="true"></i>0(0)99766899</p><br>
<p><i class="fa fa-envelope-open-o" aria-hidden="true"></i>
 melisa@estate.com</p><br>
 <input style="background-color:#3895D3;font-size: 20px;width:300px;padding:2px;height:40px;margin-left:-40px;" type="submit" name="Contact Agent" value="Contact Agent">
</div>
</div>

</div>
</div>

<div style="width:600px;height:700px;background-color:lightgrey;margin-left:600px;margin-top:-700px;"class="hh2">
<h3 style="margin-left:200px">Similar properties</h3>
<div class="t1">
<img src="/home/pif/Desktop/images/download (6).jpeg"width="200px" height="200px";>

<div style="margin-left:210px;color:white;margin-top:-180px;border:2px groove;">
<h3 style="color:black">New side Avenue House<span style="margin-left:90px;"><input style="background-color:#3895D3;color:white;" type="submit" name="FOR SALE" value="FOR SALE"></span></h3>
<h4 style="color:grey">89,pentstreet Avenue,new york city<span style="margin-left:60px;">LOFT</span></h4>
</div><br>

<div style="margin-left:210px;color:white;margin-top:-1px;border:2px groove;">

<h3 style="color:grey"><i class="fa fa-bed" aria-hidden="true"></i>bedrooms3<span style="margin-left:200px;">price</span></h3>
<h3 style="color:grey"><i class="fa fa-bath" aria-hidden="true"></i>bathrooms2<span style="margin-left:160px;COLOR:BLACK">$2,200,000</span></h3>
<h3 style="color:grey"><i class="fa fa-expand" aria-hidden="true"></i>Area Sq-ft:1,956</h3>

</div>
</div>

<div class="t1">
<img src="/home/pif/Desktop/images/pexels-photo-106399.jpeg"width="200px" height="200px";>


<div style="margin-left:210px;color:white;margin-top:-180px;border:2px groove;">
<h3 style="color:black">New side Avenue House<span style="margin-left:90px;"><input style="background-color:#3895D3;color:white" type="submit" name="FOR SALE" value="FOR RANTE"></span></h3>
<h4 style="color:grey">89,pentstreet Avenue,new york city<span style="margin-left:60px;">HOUSE</span></h4>
</div><br>

<div style="margin-left:210px;color:white;margin-top:-1px;border:2px groove;">

<h3 style="color:grey"><i class="fa fa-bed" aria-hidden="true"></i>bedrooms3<span style="margin-left:200px;">price</span></h3>
<h3 style="color:grey"><i class="fa fa-bath" aria-hidden="true"></i>bathrooms2<span style="margin-left:160px;COLOR:BLACK">$2,200,000</span></h3>
<h3 style="color:grey"><i class="fa fa-expand" aria-hidden="true"></i>Area Sq-ft:1,956</h3>

</div>
</div>

<div class="t1">
  <img src="/home/pif/Desktop/images/img2.jpeg"width="200px" height="200px";>




  <div style="margin-left:210px;color:white;margin-top:-180px;border:2px groove;">
  <h3 style="color:black">New side Avenue House<span style="margin-left:90px;"><input style="background-color:#3895D3;color:white;" type="submit" name="FOR SALE" value="FOR RANTE"></span></h3>
  <h4 style="color:grey">89,pentstreet Avenue,new york city<span style="margin-left:60px;">APARTMENT</span></h4>
  </div><br>

  <div style="margin-left:210px;color:white;margin-top:-1px;border:2px groove;">

  <h3 style="color:grey"><i class="fa fa-bed" aria-hidden="true"></i>bedrooms3<span style="margin-left:200px;">price</span></h3>
  <h3 style="color:grey"><i class="fa fa-bath" aria-hidden="true"></i>bathrooms2<span style="margin-left:160px;COLOR:BLACK">$2,200,000</span></h3>
  <h3 style="color:grey"><i class="fa fa-expand" aria-hidden="true"></i>Area Sq-ft:1,956</h3>

  </div>
</div>
</div>


</div>



<div class="footer">
<ul3 class="u3">

<li3><a href="#">About us</a></li3>
<li3><a href="#">Disclaimer</a></li3>
<li3><a href="#">Privacy policy</a></li3>
<li3><a href="#">Coockie policy</a></li3>
<li3><a href="#">FAQ</a></li3>
<li3><a href="#">Contact us</a></li3>
</ul3>

</div>
<div class="footer1">
<i  class="fa fa-facebook" aria-hidden="true"></i>&nbsp;
<i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;
<i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;

<i class="fa fa-whatsapp" aria-hidden="true"></i>
<p>copyright&#169 2016 Blue Estate.All right reserved</p>
</div>



































</div>



</body>










</html>
