.main{

width:1200px;
margin:0 auto;

}
*{
margin:0;
padding:0;

}
.header{
background-color:#c4c4c4;


}
.section{

  background-image:url("/home/pif/Desktop/images/0001Fused.jpg");


height:450px;
background-size:cover;


}
ul{
display:block;


}

ul li{
list-style:none;

display:inline-block;
margin-left:10px;



}
.navigation{

background-color:lightgrey;
height:120px;

}



.u1 a{

text-decoration:none;
color:black;
font-weight: bold;

}

.u1 a:hover{

color:red;
}
ul1{
display:block;
margin-left:60px;
padding:5px;

}
ul1 li1{
list-style:none;
display:inline-block;


margin-left:10px;
}
.u2 a{

text-decoration:none;
color:white;
font-weight: bold;

}

.u2 a:hover{

color:grey;
}

.s1{

width:10%;
height:120px;
border:1px groove grey;
text-align:center;
padding:5px;



}
.article{

height:300px;
background-color:white;

}

p{
line-height:1.2em;

}
.m1{

float:left;
padding:10px;
margin-left:60px;

}
.menu{

height:80px;
background-color:lightgrey;
padding:10px;


}

.section1{
height:400px;

margin-top:10px;



}

.si1{
margin-top:20px;
width:200px;
height:150px;

border:2px solid;
margin-left:80px;
float:left;
}


.si2{

width:200px;
height:150px;
float:left;
margin-left:80px;
border:2px solid;
margin-top:20px;
}

.article1{
height:250px;

background-color:lightgrey;
border:0.1px groove;

}
ul2{
display:block;
margin-left:60px;

}

ul2 li2{

display:inline-block;
margin-top:30px;
margin-left:30px;
padding:5px;


}

.map{

height:500px;

background-size:cover;
}
.aside{
width:400px;
height:150px;
margin-left:400px;

margin-top:-400px;
background-color:white;
border: 1px groove;
}
.menu2{
height:100px;


}
.i1 span{

  font-weight:bold;
}

.i1{
width:298px;
height:100px;
border:1px groove;
float:left;
text-align:center;

}
.sec{


height:700px;
background-color:grey;

}
.t1{
margin-left:10px;
width:590px;
height:200px;
background-color:white;
margin-top:10px;
border:1px groove;


}
.footer{
height:40px;
background-color:grey;
color:white;
}


 ul3{
display:block;


}

 ul3 li3{
display:inline-block;
list-style:none;
margin-left:80px;
font-size:20px;
padding:5px;
}
.u3 a{

text-decoration:none;
color:black;
font-weight: bold;

}

.u3 a:hover{

color:white;
}
.footer1{

height:60px;
text-align:center;
font-size:20px;
background-color:darkgrey;
}
.img11{
background-image:url("/home/pif/Desktop/images/girl.jpg");
background-size:cover;
margin-left:-90px;
margin-top:100px;
border-radius:70px;
padding:10px;
width:100px;
height:100px;


}
